h1{
    position: relative;
    text-align: center;
    color: #556B2F;    


  }
  [nz-button]{
    background-color: #BDB76B;
    border-color: #BDB76B;
  }

  .gumb {
    position: relative;
    left: 10px;
  }
  .ant-divider-horizontal.ant-divider-with-text{

    font-weight: bold;
    color: #556B2F;    

  }
 