
<div nz-row nzJustify="start">

  <button class="gumb" nz-button nzType="primary" nzSize="large" nzShape="circle" routerLink="/cocompany"><span nz-icon
          nzType="arrow-left" nzTheme="outline"></span></button>

</div>

<div nz-row nzJustify="center">
  <div nz-col nzSpan="10">
    <h1><b>Add new Culture object company!</b></h1>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="fg" (ngSubmit)="onSubmit()">
    
      <nz-divider nzOrientation="left" nzText="Company info"></nz-divider>
      <nz-form-item>
        <nz-form-label nzFor="name">First name</nz-form-label>
        <nz-form-control >
          <input nz-input formControlName="name" name="name" type="name" id="name">
        </nz-form-control>
      </nz-form-item>
    
      <div  nz-row [nzGutter]="16">
       <div  nz-col nzFlex="2.5">
        <nz-form-item>
          <nz-form-label  nzFor="taxId">TaxId</nz-form-label>
          <nz-form-control >
            <input nz-input formControlName="taxId" name="taxId" type="number" id="taxId">
          </nz-form-control>
        </nz-form-item>
          </div>
          <div nz-col nzFlex="2.5">
            <nz-form-item>
              <nz-form-label  nzFor="vatId">vatId</nz-form-label>
              <nz-form-control >
                <input nz-input formControlName="vatId" name="vatId" type="number" id="vatId">
              </nz-form-control>
            </nz-form-item>
          </div>
      </div>
    
    
      <nz-form-item>
        <nz-form-label  nzFor="phone">Phone</nz-form-label>
        <nz-form-control >
          <input nz-input formControlName="phone" name="phone" type="phone" id="phone">
        </nz-form-control>
      </nz-form-item>
    
      <nz-divider nzOrientation="left" nzText="Address info"></nz-divider>
    
      <div nz-row [nzGutter]="16">
        <div nz-col nzFlex="2.5">
          <nz-form-item>
            <nz-form-label nzFor="address">Adress</nz-form-label>
            <nz-form-control >
              <input nz-input formControlName="address" name="address" type="address" id="adress">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzFlex="2.5">
          <nz-form-item>
            <nz-form-label  nzFor="postalCode">Postal code</nz-form-label>
            <nz-form-control >
              <input nz-input formControlName="postalCode" name="postalCode" type="number" id="postalCode">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    
      <div nz-row [nzGutter]="16">
        <div nz-col nzFlex="2.5">
          <nz-form-item>
            <nz-form-label  nzFor="city">City</nz-form-label>
            <nz-form-control >
              <input nz-input formControlName="city" name="city" type="city" id="city">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzFlex="2.5">
          <nz-form-item>
            <nz-form-label  nzFor="state">State</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="state" name="state" type="state" id="state">
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    
      <nz-divider nzOrientation="left" nzText="Administration"></nz-divider>
      
      <nz-form-item>
        <nz-form-label nzFor="correspondencePersonId">Correspondence Person Id</nz-form-label>
        <nz-form-control >
          <input nz-input formControlName="correspondencePersonId" name="correspondencePersonId"
            type="correspondencePersonId" id="correspondencePersonId">
        </nz-form-control>
      </nz-form-item>
    
      <nz-divider nzOrientation="left" nzText="Added info"></nz-divider>
    
      <nz-form-item>
        <nz-form-label  nzFor="companyLogo">CompanyLogo</nz-form-label>
        <nz-form-control >
          <input nz-input formControlName="companyLogo" name="companyLogo" type="companyLogo" id="companyLogo">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="iBAN">IBAN</nz-form-label>
        <nz-form-control >
          <input nz-input formControlName="iBAN" name="iBAN" type="iBAN" id="iBAN">
        </nz-form-control>
      </nz-form-item>
      <div nz-row nzJustify="center">
        <button  nz-button nzType="primary" nzSize="large" nzShape="round"
        class="login-form-button login-form-margin" nz-button>Save</button>
      </div>
    
    </form>
  </div>
</div>

