<div nz-row nzJustify="start" >

    <button class="gumb" nz-button nzType="primary" nzSize="large" nzShape="circle" routerLink="/cocompany"><span nz-icon
            nzType="arrow-left" nzTheme="outline"></span></button>
  
  </div>

  <div nz-row nzJustify="center">
      <div nz-col nzSpan="10">
          <h1><b>Add new culture object!</b></h1>
          <form nz-form [formGroup]="fg" (ngSubmit)="onSubmit()">
          
              <nz-divider nzOrientation="left" nzText="Company info"></nz-divider>
          
              <nz-form-item>
                  <nz-form-label nzFor="name">Name</nz-form-label>
                  <nz-form-control>
                      <input nz-input name="name" type="name" id="name" formControlName="name">
                  </nz-form-control>
              </nz-form-item>
          
              <nz-form-item>
                  <nz-form-label  nzFor="phone">Phone</nz-form-label>
                  <nz-form-control >
                      <input nz-input name="phone" type="phone" id="phone" formControlName="phone">
                  </nz-form-control>
              </nz-form-item>
          
              <div nz-row [nzGutter]="16">
                  <div nz-col nzFlex="2.5">

                      <nz-form-item>
                          <nz-form-label nzFor="workingHours">Working hours</nz-form-label>
                          <nz-form-control >
                              <input nz-input name="workingHours" type="workingHours" id="workingHours" formControlName="workingHours">
                          </nz-form-control>
                      </nz-form-item>
                  </div>
          
                  <!-- <nz-form-item>
                      <nz-form-label  nzFor="cultureObjectTypeId">Culture object type</nz-form-label>
                      <nz-form-control >
                          <input nz-input name="cultureObjectTypeId" type="cultureObjectTypeId" id="cultureObjectTypeId"
                              formControlName="cultureObjectTypeId">
                      </nz-form-control>
                  </nz-form-item> -->
          
                  <div nz-col nzFlex="2.5">

                      <nz-form-item>
                          <nz-form-label  nzFor="cultureObjectType">Culture Object Type</nz-form-label>
                          <nz-form-control >
                            <nz-select formControlName="cultureObjectType"  name="cultureObjectType" type="cultureObjectType" id="cultureObjectType" nzPlaceHolder="Select type of Culture Object">
                              <nz-option [nzLabel]="'Cinema'" [nzValue]="1"></nz-option>
                              <nz-option [nzLabel]="'Museum'" [nzValue]="2"></nz-option>
                              <nz-option [nzLabel]="'Theater'" [nzValue]="3"></nz-option>
                       
                            </nz-select>
                          </nz-form-control>
                        </nz-form-item>
                  </div>
          
          
              </div>
          
              <nz-divider nzOrientation="left" nzText="Adress info"></nz-divider>
          
          
              <div nz-row [nzGutter]="16">
                  <div nz-col nzFlex="2.5">
                      <nz-form-item>
                          <nz-form-label  nzFor="address">Address</nz-form-label>
                          <nz-form-control >
                              <input nz-input name="address" type="address" id="address" formControlName="address">
                          </nz-form-control>
                      </nz-form-item>
                  </div>
                  <div nz-col nzFlex="2.5" >
                      <nz-form-item>
                          <nz-form-label  nzFor="state">State</nz-form-label>
                          <nz-form-control >
                              <input nz-input name="state" type="state" id="state" formControlName="state">
                          </nz-form-control>
                      </nz-form-item>
                  </div>
              </div>
          
              <div nz-row [nzGutter]="16">
                  <div nz-col nzFlex="2.5">
          
                      <nz-form-item>
                          <nz-form-label  nzFor="postalCode">Postal code</nz-form-label>
                          <nz-form-control >
                              <input nz-input name="postalCode" type="postalCode" id="postalCode" formControlName="postalCode">
                          </nz-form-control>
                      </nz-form-item>
                  </div>
                  <div nz-col nzFlex="2.5">
                      <nz-form-item>
                          <nz-form-label  nzFor="city">City</nz-form-label>
                          <nz-form-control >
                              <input nz-input name="city" type="city" id="city" formControlName="city">
                          </nz-form-control>
                      </nz-form-item>
                  </div>
          
              </div>
          
          
          
              <nz-divider nzOrientation="left" nzText="Location"></nz-divider>
          
              <div nz-row [nzGutter]="16">
                  <div  nz-col nzFlex="2.5">
                      <nz-form-item>
                          <nz-form-label  nzFor="latitude">Latitude</nz-form-label>
                          <nz-form-control >
                              <input nz-input name="latitude" type="latitude" id="latitude" formControlName="latitude">
                          </nz-form-control>
                      </nz-form-item>
                  </div>
                  
                  <div nz-col nzFlex="2.5">
                      <nz-form-item>
                          <nz-form-label  nzFor="longitude">Longitude</nz-form-label>
                          <nz-form-control >
                              <input nz-input name="longitude" type="longitude" id="longitude" formControlName="longitude">
                          </nz-form-control>
                      </nz-form-item>
                  </div>
          
              </div>
     
  




    <nz-divider nzOrientation="left" nzText="Added info"></nz-divider>
    <nz-form-item>
        <nz-form-label  nzFor="notes">Notes</nz-form-label>
        <nz-form-control>
            <input nz-input name="notes" type="notes" id="notes" formControlName="notes">
        </nz-form-control>
    </nz-form-item>


    <nz-divider nzOrientation="left" nzText="Administration"></nz-divider>


    <nz-form-item>
        <nz-form-label  nzFor="responsiblePersonId">Responsible person</nz-form-label>
        <nz-form-control >
            <input nz-input name="responsiblePersonId" type="responsiblePersonId" id="responsiblePersonId"
                formControlName="responsiblePersonId">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label  nzFor="cultureObjectCompanyId">Company</nz-form-label>
        <nz-form-control >
            <input nz-input name="cultureObjectCompanyId" type="cultureObjectCompanyId" id="cultureObjectCompanyId"
                formControlName="cultureObjectCompanyId">
        </nz-form-control>
    </nz-form-item>
    <div nz-row nzJustify="center">
        <button nz-button nzType="primary" nzSize="large" nzShape="round"
        class="login-form-button login-form-margin" nz-button>Save</button>

    </div>
</form>