nz-divider {
    color: #333;
    font-weight: normal;
  }
  .inner-box {
    background: #0092ff;
    padding: 8px 0;
  }
h1{
  position: relative;
  text-align: center;
  color: #556B2F;    

}
[nz-button]{
  background-color: #BDB76B;
  border-color: #BDB76B;


}

.forma{
  border: black;
  border-width: 3px;
}



.ng-star-inserted{
  width: 100%;
}
.ant-divider-horizontal.ant-divider-with-text{

  font-weight: bold;
  color: #556B2F;    

}