<div nz-row nzJustify="end">
  <button nz-button nzType="primary" nzSize="large" nzShape="circle" routerLink="/users/create"><span nz-icon
      nzType="user-add" nzTheme="outline"></span></button>
</div>
<div nz-row nzJustify="center">
  <nz-table #nzTable [nzData]="(users$ | async)!" nzTableLayout="fixed" nz-col nzSpan="16">
    <thead>
      <tr>
        <th nzCustomFilter>
          First Name
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <span nz-icon nzType="search"></span>
          </nz-filter-trigger>

        </th>
        <th>Last Name</th>
        <!--<th>Address</th>-->
        <th>Email</th>
        <!--<th>Phone</th>-->
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.firstName }}</td>
        <td>{{ data.lastName }}</td>
        <!--<td>{{ data.address }}</td>-->
        <td>{{ data.email }}</td>
        <!--<td>{{ data.phone }}</td>-->

        <td nzAlign="center"><button nz-button nzSize="small" nzType="primary" routerLink="/users/edit/{{data.id}}"
            class="search-button">Edit</button>
          <button nz-button nzSize="small" nzType="primary" nzDanger routerLink="/cobject/edit/{{data.id}}"
            class="search-button">Delete</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
    </div>
  </div>
</nz-dropdown-menu>