[nz-button]{
    margin-right: 8px;
    margin-bottom: 12px;
  }
      
  .ant-table-row th {
    background-color: #556B2F;
    color:white;
  }
  
  .ant-btn-primary{
    border-color: #bc986a;
    background: #bc986a;
  }
  
  .ant-btn-dangerous.ant-btn-primary{
    border-color: #BDB76B;
    background: #BDB76B;
  }